Projet/Tamagotchi/index.html
Projet/Tamagotchi/assets/Idle_01.png
Projet/Tamagotchi/assets/Idle_02.png
Projet/Tamagotchi/assets/Idle_03.png
Projet/Tamagotchi/assets/Idle_04.png
Projet/Tamagotchi/scripts/main.js
Projet/Tamagotchi/styles/style.css
